			    <div class="modal-dialog">
			    
			      <!-- Modal content-->
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" onclick="close_modal()">&times;</button>
			          <h4 class="modal-title"><%=@card.title%></h4>
			        </div>
			        <div class="modal-body">
					 <ul class="list-group">
					  
					  <li class="list-group-item">
					  	<%= link_to "Show Card", @card %>
					  </li>
					  
					  <li class="list-group-item">
					  	<%= link_to 'Destroy Card', @card, method: :delete, data: { confirm: 'Are you sure?' } %>
					  </li>
					  
					  <li class="list-group-item">
					  		<%= link_to new_card_task_url(@card) do %>
			          			Add New Task
			          		<%end%>
					  </li>
					   <li class="list-group-item"><b>Tasks</b></li>
					  <% @tasks.each do |task| %>
			          		<li class="list-group-item" style="display: flex">
			          			<div class="col-sm-10" ><%=task.title%></div>
			          			<div class="col-sm-2"><%= check_box_tag 'task_ids[]', task.id , task.completed%></div>
			          		</li>
			          <%end%> 
					  				  
					</ul> 	
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" onclick="close_modal()">Close</button>
			        </div>
			      </div>
			      
			    </div>